asgiref==3.11.1
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.5
cryptography==46.0.5
Django==6.0.3
et_xmlfile==2.0.0
idna==3.11
lxml==6.0.2
numpy==2.4.3
openpyxl==3.1.5
pandas==3.0.1
pdfminer.six==20251230
pdfplumber==0.11.9
pillow==12.1.1
pycparser==3.0
PyPDF2==3.0.1
pypdfium2==5.6.0
python-dateutil==2.9.0.post0
python-docx==1.2.0
reportlab==4.4.10
requests==2.32.5
six==1.17.0
sqlparse==0.5.5
typing_extensions==4.15.0
urllib3==2.6.3
